services:
  postgres:
    image: postgres:17
    container_name: webhooks_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: postgres
    ports:
      - '5432:5432'